@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
    
@font-face {
	font-family:"kt";
	src:
    local("STKai"),local("STKaiti"),
    local("AdobeKaitiStd-Regular"), local("Adobe Kaiti Std R"), local("Adobe 楷体 Std R"),
    local("KaiTi"),local("Kaiti SC"),local("Kaiti TC"),
	local("楷体"),local("楷体_GB2312"),
	url(../Fonts/kt.ttf),
    url(res:///fonts/AdobeKaitiStd-Regular.otf),
    url("../fonts/AdobeKaitiStd-Regular.otf"),
	url(res:///fonts/ttf/kt.ttf),
	url(res:///system/fonts/kt.ttf),
	url(res:///system/media/sdcard/fonts/kt.ttf),
	url(res:///media/fonts/kt.ttf),
	url(res:///fonts/kt.ttf),
	url(res:///fonts/normal/kt),
	url(res:///fonts/normal/KaiTi);
}
    
@font-face {
    font-family: "ht";
    src: local("MYing Hei T"), local("STHeiti"), local("STHei"), local("MYing Hei S"), local("TBGothic"), local("Heiti"), local("Heiti SC"), local("Heiti TC");
    }
