html {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -epub-writing-mode: vertical-rl;
}

h1 {
    display: block;
    font-size: 130%;
    /*font-weight: bold;*/
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 1em;
}

.h1_huge {
    display: block;
    text-align: center;
    font-size: 160%;
    /*font-weight: bold;*/
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h2 {
    display: block;
    margin-top: 6em;
    font-size: 120%;
    /*font-weight: bold;*/
}

h3 {
    display: block;
    margin: 0;
    margin-top: 6em;
    margin-left: 0em;
    font-size: 120%;
    /*font-weight: bold;*/
}

.sub {
    display: block;
    font-size: 1em;
    /*font-weight: bold;*/
    font-size: 120%;
    line-height: 150%;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    margin-left: 1em;
    margin-right: 1.5em;
    }
    
.calibre {    
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0
    }
    
.calibre1 {
    display: block
    }
    
.calibre5 {
    text-decoration: none
    }
    
.calibre6 {
    /*zhengwen*/
    display: block;
    font-size: 1em;
    line-height: 140%;
    text-indent: 2em;
    /*margin: 1em 0*/
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
    
.calibre8 {
    display: block;
    font-family:"kt";
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: justify;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    }
    
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
    
.calibre10 {
    display: list-item
    }
    
.illustration_image {
    clear: both;
    display: block;
    height: auto;
    height: 100%;
    line-height: 1.4;
    text-align: center;
    text-indent: 0;
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
    
.kuo {
    -webkit-writing-mode: horizontal-tb;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    writing-mode: horizontal-tb
    }
    
.ord {
    font-family:"kt";
    background-color: #000;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.05em;
    width: 1em;
    border: #000 solid 1px;
    padding: 0;
    margin: 0 0 0.3em
    }
    
.ords {
    font-family:"kt";
    background-color: #fff;
    color: #000;
    font-weight: 900;
    letter-spacing: 0.05em;
    width: 1em;
    padding: 0;
    margin: 0
    }
    
.pz {
    color: green;
    font-family:"kt";
    font-size: 0.85em;
    /*vertical-align: 0.1em*/
    }
    
.ovaltxt {
    /*color: #6A3550;*/
    display: block;
    /*font-family: "MYing Hei T", san-serif;*/
    font-size: 0.90em;
    /*line-height: 150%;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    }
    
.poem {
    display: block;
    font-family:"kt";
    font-size: 1em;
    /*font-weight: 200;*/
    /*line-height: 150%;*/
    text-align: justify;
    text-indent: 0;
    /*margin: 3em 0 1em 1em*/
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 4em;
    margin-bottom: 1em;
    }
       
.poetry {
    display: block;
    font-family:"kt";
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: justify;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.poetry_right {
    display: block;
    font-family:"kt";
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: right;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0.0em;
    margin-bottom: 1em;    
}

.gongwen {
    display: block;
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: justify;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.gongwen_right {
    display: block;
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: right;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0em;
    margin-bottom: 1em;
}

.letter {
    display: block;
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: justify;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.letter_right {
    display: block;
    font-size: 1em;
    /*line-height: 150%;*/
    text-align: right;
    text-indent: 0;
    margin-left: 0.5em;
    margin-right: 0em;
    margin-bottom: 1em;
}
    
 .content_kt {
    font-family:"kt";
}
   
.flower {
    clear: both;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
}
